body {
    background: white;
}
.navbar {
    background-color: #008116;
}
#Titulo {
    color: green;
}
#Tasas { 
    text-align: center;
    font-size: 18px;
}
#transferencia {
    margin: 20px 20px 20px 0px;
    text-decoration: none;
}
.jumbotron{
    margin-bottom: 0px;
}