body {
    background: #576574;
}

.navbar {
    background-color: #2d3436;
}

#TasasUSD,
#TasasEUR {
    text-align: center;
    font-size: 18px;
}

#transferencia {
    margin: 20px 20px 20px 0px;
    text-decoration: none;
}

.jumbotron {
    margin-bottom: 0px;
}

.list-group {
    margin: 0px 20px 0px 20px;
}
.list-group-item{
    background: #ecf0f1;
}

.card-body{
    background: #ecf0f1;
}

.usd, .eur {
    margin: 20px;
}

.botones {
    margin: 15px;
}

#botones {
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

#promedio_realUSD,
#promedio_realEUR {
    font-size: 18px;
}

#resumen {
    margin: 20px;
}
#Fecha {
    font-size: 20px;
    color:#fff;
}
.card{
    margin: 10px;
}
#promedioUSD,
 #promedioEUR {
     font-size: 18px;
 }
 .footer {
     text-align: center;
     background: #2d3436;
     padding: 20px;
 }
p {
    margin: 0px;
}